.profile {
	float: left;
	padding-left: 20px;
}

.Header {
	background-color: #F8F8F8; 
}

.Header h1 {
	font: helvetica;
	font-size: 50px;
	margin-left: 70px;
	padding-right: 20px;
	padding-top: 50px;
}

.Header p {
	font: helvetica;
	padding-right: 20px;
	padding-top: 0px;
}

.findMe {
	padding-left: 0px;
	height: 10px;
	width: 100px;
	display: inline;
}


.Main {
	height: 450px;
}

.dbz {
	/*opacity: 0.8;*/
	/*width: 100%;*/
	/*margin-right: 20px;*/
}


.links a {
	color: #000000;
	font-size: 50px;
}

.About {
	/*opacity: 0.8;*/
	/*width: 100%;*/
}


.About a {
	color: #000000;
	font-size: 50px;
}